{% extends 'patient/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TM Blood Report</title>
  </head>
  <body style="background-image: url(https://media.istockphoto.com/id/1088991402/photo/blue-gradient-soft-background.jpg?b=1&s=170667a&w=0&k=20&c=0-y1Fp1T8Ia7w7vi1xDEC8Cbuon3UEFIMrGRPrWeKiU=);background-repeat: no-repeat; background-size: cover; color: white; font-size: 20px;">
    
    <center><h1>"Your body can stand almost <br>anything. It's your mind that you <br> have to convince"</h1></center>
    <div class="add_search" style="display: flex; justify-content: center; align-items: center; border: 1px solid; border-radius: 10px; width: 50%;box-shadow: 3px 3px 3px black; padding: 3em; margin: 5em; margin-left: 11em;">
        <div class="row GB" style="margin:10px 20px;">
          <div class="col-1-of-2 GB">
            <div class="card card__patient card__patient_add GB">
              <center><img src="../static/patient/img/follow.png" height="150" alt="add patient image" />
              <div class="card__patient_text">
                <a href="{% url 'patient_create'%}" ><h2><b>Add patient</b></h2></a></center>
              </div>
            </div>
          </div>
          <div class="col-1-of-2 GB" style="margin:10px 20px;">
            <div class="card card__patient card__patient_search GB">
              <center><img src="../static/patient/img/magnifier.png" height="150" alt="add patient image" />
              <div class="card__patient_text">
                <a href="{% url 'search'%}"><h2><b>Search Patient </b></h2><i></i></a></center>
              </div>
            </div>
           </div>
        </div>
    </div>
</body>
</html>
{% endblock  %}


<!-- <li>
    <a href="{% url 'patient_create' %}">Add patient</a>
</li>
<li>
    <a href="{% url 'search' %}">Search patient</a>
</li> -->
