
{% load static %}
{% load widget_tweaks %}
{% block content %}
<body style="background-image: url(https://media.istockphoto.com/id/1088991402/photo/blue-gradient-soft-background.jpg?b=1&s=170667a&w=0&k=20&c=0-y1Fp1T8Ia7w7vi1xDEC8Cbuon3UEFIMrGRPrWeKiU=);background-repeat: no-repeat; background-size: cover; color: white; font-size: 20px;">
<center><h1>Patient Profile Page</h1></center>
<div class="patient_profile">
   
  <div class="story GB" >
        <div  class="row GB" style="border: 1px solid; border-radius: 10px; width: 50%;box-shadow: 10px 5px 5px black">
          <div class="col-1-of-2 GB" style="display: flex; align-items: center; justify-content: center;">
            <figure class="story__shape" style="float: left;">
              <img 
                src="../static/patient/img/customer.png" height="120"
                alt="person on a tour"
                class="story__img"
              />
              <!-- <figcaption class="story__caption">Patinet Name</figcaption> -->
            </figure>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="u-margin-top-small" style="float: right;">
              <h3 class="heading-tertiary u-margin-bottom-small">
                PATIENT NAME : {{patient.fname | title}} {{patient.lname | title}}
              </h3>
            </div>
            <div class="col-1-of-2 GB" style="float: right;">
              <div class="story__text" style="display: flex;">
                <h3 class="heading-tertiary u-margin-bottom-small">
                  ADDRESS : {{patient.address}}
                </h3>
                <h3 class="heading-tertiary u-margin-bottom-small">
                  ZIP : {{patient.zip}}
                </h3>
                
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        
        <div>
          <div class="col-1-of-3 GB">
           <center><div style="float:left">
              <a href="">
                <img  src="../static/patient/img/add.png" height="120" alt="" class="profile__buttons-addimg"
              /></a>
              <div  class="GB">
                <a href="{% url 'document_upload' patient.pk %}" class="btn-text"
                  ><b><h3>Add New Report &rarr;</h3></b></a
                >
              </div>
                
            </div></center>
          </div>
          
        <div  class="col-1-of-3 GB">
            <center><div style="float:left" class="GB">
             <img src="../static/patient/img/edit.png" height="120" alt="" class="profile__buttons-addimg" />
              <div class="GB">
               <a href="{% url 'generated_report' patient.pk %}" class="btn-text"
                  ><b><h3>Generate Report </h3></b></a
                >
              </div>
            </div></center>
          </div>
        </div>
      
      </div>
    
    </div>
</body>
{% endblock content %}



<!-- <h1>patient Profile page</h1>

fname: {{ patient.fname }} <br>
lname: {{ patient.lname }} <br>
address: {{ patient.address }} <br>
zip: {{ patient.zip }}
<br><br>

<a href="{% url 'document_upload' patient.pk %}">upload document</a>
<a href="{% url 'generated_report' patient.pk %}">generated report</a> -->